body {
	background-color: #EEEEEE;
	font-size: 16px;
	font-family: Arial;
	margin: 0;
}

.mcontainer {
	padding: 10px;
}

.mcontainer .content{
	display: flex;
	flex-wrap:wrap;
}

.mheader {
	text-align: center;
	padding: 10px;
}
.cards {
	height: 450px;
	flex: 80%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.cards .card {
	width: 32%;
	height: 150px;
	line-height: 150px;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
}

.cards .card.c1 {
	background-color: #6F98A8;
}

.cards .card.c2,
.cards .card.c8 {
	background-color: #72C3DC;
}
.cards .card.c4 {
	background-color: #2B8EAD;
}

.cards .card.c3,
.cards .card.c5,
.cards .card.c9 {
	background-color: #2F454E;
}


.cards .card.c6,
.cards .card.c7 {
	background-color: #BFBFBF;
}

.actions {
	flex: 20%;
}

.actions .content {
	padding: 20px;
}

.btn {
	border-radius: 5px;
	background-color: #2B8EAD;
	padding: 10px 20px;
	color: #FFFFFF;
	font-size: 16px;
	text-transform: uppercase;
	width: 100%;
	border: 0;
	margin-bottom: 20px;
	cursor: pointer;
	box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
}

.signature {
	text-align: center;
	margin-top: 20px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
	body {
		background-color: #FFFFFF;
	}

	.mheader {
		background-color: #2F454E;
		color: #FFFFFF;
	}

	.mcontainer .content{
		justify-content: space-between;
	}
	.cards {
		order: 2;
	}
	.cards .card {
		height: 40px;
		line-height: 40px;
		margin-bottom: 10px;
		background-color: #EEEEEE !important;
		color: #000000;
	}

	.cards .card:before{
	    content: " ";
	    width: 10px;
	    height: 40px;
	    position: absolute;
	    text-align: left;
	    left: 0
	}
	.cards .card.c1:before {
		background-color: #6F98A8;
	}

	.cards .card.c2:before,
	.cards .card.c8:before {
		background-color: #72C3DC;
	}
	.cards .card.c4:before {
		background-color: #2B8EAD;
	}

	.cards .card.c3:before,
	.cards .card.c5:before,
	.cards .card.c9:before {
		background-color: #2F454E;
	}
	
	
	.cards .card.c6:before,
	.cards .card.c7:before {
		background-color: #BFBFBF;
	}

	.cards,
	.cards .card,
	.actions {
		width: 100%;
		flex: 100%;
	}
	.actions {
		order: 1;
	}
	
}